table {
    width: 50%;
    height: 50%;
}

th,
td {
    text-align: left !important;
    border: 1px solid #28333f;
    width: auto;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-family: sans-serif !important;
    font-style: italic;
    color: white;
    text-align: center!important;
    padding-left: 0px!important;
    padding-right: 0px!important;

}

th {
    font-size: 20px !important;
    background-color: #9B1B30
}

td {
    font-size: 15px !important;
}

tr:nth-child(even) {
    background-color: #343a40 !important;
}

tr:nth-child(odd) {
    background-color: #4c566a !important;
}



button{
    color: red;
    border: 2px solid red;
    padding: 2px 5px;
    font-size: 10px;
    font-family: tahoma;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px red) drop-shadow(0 0 50px red) contrast(2) brightness(2);
    transition: .5s;

}
