<nav>
    <div class="st">Menu<picture>
                    <source media="(min-width:)" srcset="">
                    <img src="" alt="">
                </picture>
        </div>
    <span class="button-group">
    <button class="ec" routerLink="/enrollments-create">Enroll IT</button>
    <button class="cc" routerLink="/courses-create">Add Course</button>
    <button class="tc" routerLink="/teachers-create">Add Teacher</button>
    <button class="tc" routerLink="/students-create">Add Student</button>
    </span>
</nav>
<div class="p-4">
    <router-outlet></router-outlet>
</div>