<app-side-nav class="side"></app-side-nav>
<span class="group flex flex-col table-container">
    <div class="st">Register a teacher<picture>
        <source media="(min-width:)" srcset="">
        <img src="" alt="">
    </picture>
</div>
    <form class="form " [formGroup]="creationForm"(ngSubmit)="sendRequest()">
    <input type="text " placeholder="NAME" formControlName="name">
    <input type="text" placeholder="EMAIL" formControlName="email">
    <input type="text" placeholder="DEGREE" formControlName="degree">
    <input type="submit" class="p-2 w-full submit" value="SUBMIT">
</form>
</span>
