button {
    margin-top: 3%;
    color: red;
    border: 2px solid red;
    border-radius:15px;
    padding: 2px 5px;
    font-size: 10px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px red) drop-shadow(0 0 50px red) contrast(2) brightness(2);
    transition: .5s;
    margin-left: 8px!important;
    
  }
  
  button:hover {

    filter: drop-shadow(0 0 15px #3A0002) drop-shadow(0 0 50px red,) contrast(5) brightness(2);
  }

nav {
    background-image: linear-gradient(black, black,black,black,#3A0002);
    border: 2px solid #3A0002;
    position:fixed;
    width: 100%;
    top:0;
    
}

.home{
    margin-top:  13%!important;
    padding-top: 3px;
}


