<nav class="flex justify-center p-3">
    <div class="mx-2">
        <div>
            <button class="home" *ngIf="enableButton !=='welcome'" (click)="enableAndDisable('welcome')"
                routerLink="/welcome"><mat-icon>home</mat-icon></button>
        </div>
    </div>
    <div>
        <button *ngIf="enableButton !=='courses'" (click)="enableAndDisable('courses')" routerLink="/courses-list">
            COURSES
        </button>
        <button *ngIf="enableButton !=='enrollments'" (click)="enableAndDisable('enrollments')"
            routerLink="/enrollments-list">
            ENROLLMENTS
        </button>
        <button *ngIf="enableButton !=='students'" (click)="enableAndDisable('students')" routerLink="/students-list">
            STUDENTS
        </button>
        <button *ngIf="enableButton !=='teachers'" (click)="enableAndDisable('teachers')" routerLink="/teachers-list">
            TEACHERS
        </button>
    </div>
</nav>
<router-outlet></router-outlet>

